main {
    display: flex; /* Apply flexbox to the main element */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 80vh; /* Ensure main takes up the full height of the viewport */
}

#shortcuts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 50px;
    width: 80%; /* Set width to 80% on larger screens */
    margin-left: auto;
    margin-right: auto;
}

/* Media query for mobile devices (screen width less than 768px) */
@media (max-width: 768px) {
    #shortcuts {
        width: 100%; /* Set width to 100% on smaller screens */
    }
}

.shortcut-img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.shortcuts-img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
